// Variables generales que estarán bajo modificación

// fondos

$primary-bg: #E56353; 
$secondary-bg: #91918D;
$terciary-bg: #FAFAFA;

// textos

$primary-color: #686963;
$secondary-color: #FAFAFA;

// tamaños

$principal-title: 1.5rem;
$secondary-title: 2rem;
$terciary-title: 2.5rem;

// botones

$primary-button-color: #FAFAFA ;