.button{
    text-align: center;
    border-color: #91918D;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    padding: 0.6rem 4rem;
    color: $primary-color;
    font-size: $principal-title;
    font-weight: 700;
    background-color: $primary-button-color;
}   